@font-face {
    font-family: 'IM Fell DW Pica';
    src:url('fonts/IMFellDWPica-Regular.ttf') format('truetype'),
         url('fonts/IMFellDWPica-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'IM Fell DW Pica SW';
    src:  url('fonts/IMFellDWPica-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }

html, body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
}

footer {
    text-align: center;
    padding: 10px 0;
}

header {
    display: grid;
    place-items: center;
    .logo {
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .typewriter {
        text-align: center;
        font-family: 'IM Fell DW Pica SW', serif !important;
        font-size: 64px;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        font-style: normal;
    }

    p {
        font-family: 'IM Fell DW Pica', serif !important;
        font-size: 20px;
        color: #333;
        text-align: center;
    }
}

.bold-text {
    font-weight: 500;
}

.card-text {
    text-align: justify;
}

.react-count {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 500;
}

.heart {
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}
.red-heart {
    color: red;
}

.text-muted {
    color: #6c757d; 
}

.exceeded {
    color: red; 
}
#messagesContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.message {
    font-family: 'IM Fell DW Pica SW', serif !important;
    margin: 0;
    font-size: 40px !important;
    padding-top: 10px !important;
    padding-bottom: 25px !important;
}

#messagesOfTheDay {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

@media (max-width: 768px) {
    header .typewriter {
        font-family: 'IM Fell DW Pica SW', serif !important;
        font-size: 40px;
    }

    header p {
        font-family: 'IM Fell DW Pica', serif !important;
        font-size: 16px;
    }

    .card-text {
        font-size: 14px;
    }

    .react-count {
        font-size: 13px;
    }

    .message {
        font-family: 'IM Fell DW Pica SW', serif !important;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    header .typewriter {
        font-family: 'IM Fell DW Pica SW', serif !important;
        font-size: 50px;
    }

    header p {
        font-family: 'IM Fell DW Pica', serif !important;
        font-size: 14px;
    }

    .card-text {
        font-size: 13px;
    }

    .react-count {
        font-size: 12px;
    }

    .message {
        font-family: 'IM Fell DW Pica SW', serif !important;
        font-size: 25px;
    }
}
