
header {
    display: grid;
    place-items: center;
    .logo {
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .typewriter {
        text-align: center;
        font-family: 'IM Fell DW Pica', serif;
        font-size: 64px;
        color: #333;
        white-space: nowrap;
        overflow: hidden;
        font-style: normal;
    }

    p {
        font-family: 'IM Fell DW Pica', serif;
        font-size: 20px;
        color: #333;
        text-align: center;
    }
}

